body {
  margin: 0;
  background-color: #25274D;
  color: #EDF5E1;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

#gameTitle{
  padding: 40px 0px;
  font-size: 60px;
}
.timelineCards{
  list-style-type: none;
}

.timelineCard{
  display: flex !important;
  padding: 20px 10px;
  float: left !important;
}

.card{
  /* display: inline; */
  /* height:30px; */
  width: 150px;
  height: 270px;
  background-color: #464866;
  /* position: absolute; */
  /* z-index: 9; */
  text-align: center;
  /* border: 1px solid #d3d3d3; */
  /* cursor: move; */
  /* margin-top: -100px;
  margin-left: -20px; */
}

.cardInfo{
  margin-top: 10px;
}

.boardGame{
    position: absolute;
    top: 60%;
    height: 100px;
  }

  div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: #08c708;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

.cardPoster{
  width: 150px;
}
