body {
  margin: 0;
  background-color: #25274D;
  color: #EDF5E1;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

#gameTitle{
  padding: 40px 0px;
  font-size: 60px;
}

.card{
  height:100px;
  width: 50px;
  background-color: red;
  position: absolute;
  z-index: 9;
  text-align: center;
  border: 1px solid #d3d3d3;
  cursor: move;
}

.boardGame{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
